@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background{
  background-image: "../images/background-image-homepage.png";
}

.header-links-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link{
  justify-content: right;
  color: white;
}

.zbooni-logo{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.get-zbooni-button{
  justify-content: right;
  padding: 7px 16px 7px 16px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 35px;
}

.homepage-text-container{
  padding: 10% 0 0 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage-title{
  font-weight: 900;
  font-size: 65px;
  line-height: 70px;
  color: white;
}

.homepage-text{
  padding-top: 1%;
  width: 40%;
  font-weight: 700;
  color: white;
}

.homepage-buttons{
  font-size: 13px;
  font-weight: 800;
  padding: 10px 16px 10px 16px;
  color: black;
  border-radius: 35px;
}
.get-in-touch-button{
  background-color: white;
}

.get-zbooni-button-gradient{
  background: rgb(229,255,0);
  background: linear-gradient(90deg, rgba(229,255,0,1) 0%, rgba(112,255,100,1) 35%, rgba(30,255,255,1) 100%);
}

.footer{
  height: 476px;
  background-color: #282F3A;
}

.footer-titles{
  font-family: Montserrat;
}

